<item>
  <title>379: Dr. Yumiko Kadota and Medical Burnout, Michael Sam Reveals NFL Struggles</title>
  <description>
    <![CDATA[<p>Break out your Victorian shell dolls, it’s time for another Throwing Shade! Erin takes us through the story of Dr. Yumiko Kadota, a surgeon from Sydney who was hospitalized after suffering through shifts in excess of 180 hours, and what her situation reveals about the difference in the way male and female doctors are treated. Then, Bryan picks back up with a campus talk given by Michael Sam, the first openly gay athlete to be drafted into the NFL, during which he candidly voiced his struggles within the league as well as the problems that LGBTQ football players continue to face.</p><p><br></p><p><br></p><p>This episode is sponsored by Squarespace (<a href="http://www.squarespace.com/SHADE" target="_blank">www.squarespace.com/SHADE</a> code: SHADE), Quip (<a href="http://www.getquip.com/SHADE" target="_blank">www.getquip.com/SHADE</a>), and Calm (<a href="http://www.calm.com/SHADE" target="_blank">www.calm.com/SHADE</a>).</p>]]>
  </description>
  <itunes:title>Dr. Yumiko Kadota and Medical Burnout, Michael Sam Reveals NFL Struggles</itunes:title>
  <itunes:episodeType>full</itunes:episodeType>
  <itunes:episode>379</itunes:episode>
  <itunes:summary>Break out your Victorian shell dolls, it’s time for another Throwing Shade! Erin takes us through the story of Dr. Yumiko Kadota, a surgeon from Sydney who was hospitalized after suffering through shifts in excess of 180 hours, and what her situation reveals about the difference in the way male and female doctors are treated. Then, Bryan picks back up with a campus talk given by Michael Sam, the first openly gay athlete to be drafted into the NFL, during which he candidly voiced his struggles within the league as well as the problems that LGBTQ football players continue to face.
  This episode is sponsored by Squarespace (www.squarespace.com/SHADE code: SHADE), Quip (www.getquip.com/SHADE), and Calm (www.calm.com/SHADE).</itunes:summary>
  <content:encoded>
    <![CDATA[<p>Break out your Victorian shell dolls, it’s time for another Throwing Shade! Erin takes us through the story of Dr. Yumiko Kadota, a surgeon from Sydney who was hospitalized after suffering through shifts in excess of 180 hours, and what her situation reveals about the difference in the way male and female doctors are treated. Then, Bryan picks back up with a campus talk given by Michael Sam, the first openly gay athlete to be drafted into the NFL, during which he candidly voiced his struggles within the league as well as the problems that LGBTQ football players continue to face.</p><p><br></p><p><br></p><p>This episode is sponsored by Squarespace (<a href="http://www.squarespace.com/SHADE" target="_blank">www.squarespace.com/SHADE</a> code: SHADE), Quip (<a href="http://www.getquip.com/SHADE" target="_blank">www.getquip.com/SHADE</a>), and Calm (<a href="http://www.calm.com/SHADE" target="_blank">www.calm.com/SHADE</a>).</p>]]>
  </content:encoded>
  <% if episode.empty_guid %>
    <guid isPermaLink="false"></guid>
  <% else %>
    <guid isPermaLink="false">gid://art19-episode-locator/V0/bhwhtasFYj5SXgn4HHYmovT9pNZCofPTDqhGgzfIg0U</guid>
  <% end %> 
  <pubDate>Thu, 21 Feb 2019 05:00:00 -0000</pubDate>
  <itunes:explicit>yes</itunes:explicit>
  <itunes:image href="https://content.production.cdn.art19.com/images/1d/47/38/a0/1d4738a0-9d4a-49f1-878b-948786f3dd21/f104d70c13e074b9922a522d9be96a0ab6ad194a8ad49fe466aaa2699e4c72d87e41109a4d4978fe02c2d8b8750a8358a667c09a8b1915c28bbddbf18a639cbf.jpeg"/>
  <itunes:keywords>womens,TV,society,Sexuality,rights,Pop,politics,News,LGBT,gender,Gay,Film,Feminist,Feminism,female,education,culture,comedy,alternative,ALT</itunes:keywords>
  <itunes:duration>00:47:46</itunes:duration>
  <enclosure url="https://rss.art19.com/episodes/ea2a6336-1ee0-4d6b-bed3-1ef5c3be2762.mp3" type="audio/mpeg" length="45865586"/>
</item>
