<item>
  <title>Episode Title</title>
  <description>
    <![CDATA[<p>Test description</p>]]>
  </description>
  <itunes:title>Episode Title</itunes:title>
  <itunes:episodeType>full</itunes:episodeType>
  <itunes:episode><%= i+1 %></itunes:episode>
  <itunes:summary>Test description</itunes:summary>
  <content:encoded>
    <![CDATA[<p>Test description</p>]]>
  </content:encoded>
  <% if episode.empty_guid %>
    <guid isPermaLink="false"></guid>
  <% else %>
      <guid isPermaLink="false"><%= SecureRandom.hex %></guid>
  <% end %>
  <pubDate>Thu, 21 Feb 2019 05:00:00 -0000</pubDate>
  <itunes:explicit>no</itunes:explicit>
  <itunes:image href="https://content.production.cdn.art19.com/images/1d/47/38/a0/1d4738a0-9d4a-49f1-878b-948786f3dd21/f104d70c13e074b9922a522d9be96a0ab6ad194a8ad49fe466aaa2699e4c72d87e41109a4d4978fe02c2d8b8750a8358a667c09a8b1915c28bbddbf18a639cbf.jpeg"/>
  <itunes:keywords>news</itunes:keywords>
  <itunes:duration>00:47:46</itunes:duration>
  <enclosure url="https://rss.art19.com/episodes/ea2a6336-1ee0-4d6b-bed3-1ef5c3be2762.mp3" type="audio/mpeg" length="45865586"/>
</item>
