<h2><pre>?existing_feed=true | <a href="http://podfeedit-production.herokuapp.com/f?existing_feed=true">example</a></pre></h2>
<p>This simply ignores all other attributes, and pulls in a random feed from iTunes</p>

<hr />

<h2><pre>?eps=INTEGER | <a href="http://podfeedit-production.herokuapp.com/f?eps=10">example</a></pre></h2>
<p>This allows you to dynamically add episodes to your feed.</p>

<hr />

<h2><pre>?empty_guid=true | <a href="http://podfeedit-production.herokuapp.com/f?eps=10&empty_guid=true">example</a></pre></h2>
<p>This removes GUIDs from the episode blocks. This param requires an eps param as well.</p>

<hr />

<p>Enter all params using correct URL param syntax "(?eps=5&without_guids=true)"</p>
