<h1>Available Commands</h1>

<h2>existing_podcasts_feed</h2>
<p>This simply ignores all other attributes, and pulls in a random feed from iTunes</p>

<h2>eps=5</h2>
<p>This allows you to dynamically add episodes to your feed.</p>

<h2>without_guids=true</h2>
<p>This removes GUIDs from the episode blocks.</p>

<h2>duplicate_guids=true</h2>
<p>This adds the same GUID across all episode blocks.</p>

<h2>malformed_audio=true</h2>
<p>This adds malformed_audio URLs to every item block.</p>

<hr />

<p>Enter all params using correct URL param syntax "(?eps=5&without_guids=true)"</p>
