<h1>How this works</h1>
<hr />

<p>You can interact with the app in a few ways:</p>

<p>You can manipulate the through changing the URL queries</p>

<p>Use the app platform UI</p>

<p>Full URL Example: <a href="http://app.feedit.dev/f?eps=10&empty_guid=true">https://app.feedit.dev/f?eps=10&empty_guid=true</a></p>

<p><i>NOTE: You must enter all params using correct URL param syntax "(?eps=5&without_guids=true)"</i></p>
