<h4>JSON Options</h4>
<hr />

<h5>Building Podcast Apps...</h5>

<p>
<strong>
<h5><code>/shows/ | <a href="">example</a></code></h5>
</strong>
<p>This returns all shows (podcasts) in the db.</p>
</p>

<p>
<strong>
<h5><code>/shows/:ID/episodes | <a href="">example</a></code></h5>
</strong>
  <p>This returns the episodes for the show selected. Use an ID from the previous /shows call.</p>
</p>

<div style="border: 1px #000 solid; margin-bottom: 20px;" /></div>

<h4>Building apps with a timeline or activity feed...</h4>

<p>
<h5><code>/j</code></h5>
<p>Returns a JSON activity feed</p>
  </p>

http://app.feedit.dev/shows/3/episodes

