<h1>Saved Queries</h1>
<hr />
<ul>
<% @saved_queries.each do |saved_query| %>

  <li>
    <% if saved_query.url %>
      <a href="<%= saved_query.url %>">
        <%= saved_query.search %>
      </a>
    <% else %>
      <%= saved_query.search %>
    <% end  %>
  </li>

<% end %>
</ul>
