<h1>XML/RSS Options [/f]</h1>

<hr />

<h3><pre>existing_feed=true | <a href="http://app.feedit.dev/f?existing_feed=true">example</a></pre></h2>
<p>This ignores all other attributes, and pulls in a random feed from iTunes</p>

<h3><pre>email=<input class="custom-email" /> | <a class="email-example" href="http://app.feedit.dev/f?existing_feed=true">example</a></pre></h2>
<p>This renders the feed with the email you enter above. Enter your email, then click the example link.</p>

<div style="border: 1px #000 solid; margin-bottom: 20px;" /></div>


<h1>Episode Options</h1>
<hr />

<h3><pre>eps=INTEGER | <a href="http://app.feedit.dev/f?eps=10">example</a></pre></h2>
<p>This allows you to dynamically add episodes to your feed.</p>

<h3><pre>empty_guid=true | <a href="http://app.feedit.dev/f?eps=10&empty_guid=true">example</a></pre></h2>
<p>This removes GUIDs from the episode blocks. This param requires an eps param as well.</p>

